@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
#picture1 {
	margin: 10px;
	float: left;
}
h2 {
	text-align: left;
	font-family: 'Roboto', sans-serif;
	color: #4A005E;
}
.h1{text-align: left;
	font-family: 'Roboto', sans-serif;
	color: #F8DFFF;}
.h2{text-align: left;
	font-family: 'Roboto', sans-serif;
	color: #F8DFFF;}
.h3{text-align: left;
	font-family: 'Roboto', sans-serif;
	color: #F8DFFF;}
.h4{text-align: left;
	font-family: 'Roboto', sans-serif;
	color: #F8DFFF;}
.h5{text-align: left;
	font-family: 'Roboto', sans-serif;
	color: #F8DFFF;}
.h6{text-align: left;
	font-family: 'Roboto', sans-serif;
	color: #F8DFFF;}
.titulo-en {
	font-family: 'Dancing Script', cursive;
}
#seccion4 {
	overflow: auto;
}


@media screen{
header {
	background-color: #F2C53D;
	color: #FFFFFF;
	font-size: 48px;
	text-align: center;
	padding-top: 3px;
	padding-bottom: 20px;
}
nav {
	height: auto;
	background-color: #8CE2F4;
}
* {
	padding: 0;
	margin-top: auto;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
main {
	background-color: #F2C53D;
	color: #FFFFFF;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 50px;
}
footer {
	height: 70px;
	background-color: #8CE2F4;
}

header, nav, main {
	width: 80%;
}
	footer{
	width: 80%;
}
body nav ul {
	text-decoration: none;
	list-style-type: none;
}
nav ul li {
	display: inline-block;
	margin-left: 40px;
	padding-top: 19px;
	padding-bottom: 19px;
	margin-right: 40px;
	color: #FFFFFF;
	font-weight: normal;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
}

	p{
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	font-style: normal;
	color: #4A005E;
	
	}
body main section   {
	background-color: #E1CCFF;
	margin-top: 50px;
	padding:20px;
	margin-bottom: 50px;
	margin-left: 0px;
	border: 5px dotted #FDDDC8;
}
footer h5 {
	color: #FFFFFF;
	text-align: center;
	font-size: 18px;
	padding-left: 29px;
	padding-top: 29px;
	padding-bottom: 29px;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
}

}

a:link{
	color: #41A5B9;
	font-weight: bolder;
}
a:visited{
	color:#FFC9A5;
	font-weight: bold;
}

a:hover {
	color: #F6DC33;
	font-size: large;
	font-weight: bold;
}


.h1 {
}
