@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Satisfy&display=swap');
#picture1 {
	margin: 10px;
	float: left;
}
h1{
	font-family: 'Dancing Script', cursive;
	color: #FFFFFF;
	font-size: 76px;
}
h2 {
	text-align: center;
}
h5{color: #FFFFFF;
	text-align: center;
	font-size: 18px;
	padding-left: 29px;
	padding-top: 29px;
	padding-bottom: 29px;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;}

@media screen{
header {
	background-color: #41A5B9;
	color: #FFFFFF;
	font-size: 48px;
	text-align: center;
}
nav {
	height: 101px;
	background-color: #C3F3FD;
}
* {
	padding: 0;
	margin-top: auto;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
main {
	background-color: #41A5B9;
	color: #12002C;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 50px;
}
footer {
	height: 70px;
	background-color: #A8ECFB;
}

header, nav, main {
	width: 90%;
}
	footer{
	width: 90%;
}
body nav ul {
	text-decoration: none;
	list-style-type: none;
}
nav ul li {
	display: inline-block;
	padding-top: 10px;
	padding-right: 15px;
	padding-left: 15px;
	padding-bottom: 10px;
	color: #FFFFFF;
	font-weight: bold;
}


body main section   {
	background-color: #FAEC92;
	margin-top: 50px;
	padding:20px;
	margin-bottom: 50px;
	margin-left: 0px;
	border: 10px dotted #F5B71D;
}
footer h5 {
	color: #10292E;
	text-align: center;
	font-size: 18px;
	padding-left: 29px;
	padding-top: 29px;
	padding-bottom: 29px;
}

}

a:link{
	color: #1E4855;
	font-weight: bolder;
}
a:visited{
	color: #358A99;
	font-weight: bold;
}

a:hover {
	color: #BE9F00;
	font-size: large;
	font-weight: bold;
}
